/*   Author Name: Nirmal Patel
     Date:17 June 2024
     Discription: Third HTML Project css file of part 1*/    
       
      
      body {
        background-color: #fff;
        color: #333;
        font-family: Arial, Helvetica, sans-serif;
        padding: 1em;
        margin: 0;
      }

      h1 {
        color: #375e97;
        font-size: 2em;
        font-family: Georgia, "Times New Roman", Times, serif;
        border-bottom:10px dotted purple; /* Change border to dotted and color to purple */
      }

      h2 {
        font-size: 1.5em;
      }

      .job-title {
        color: #999999;
        font-weight: bold;
      }

      a:link,
      a:visited {
        color: #fb6542;
      }

      a:hover {
        text-decoration: none;
        /* It will change green color to link when you hover on it */
        color:green;
      }
      ul {
         /* Set the background color for ul */
        background-color: #eeeeee;
         /* Set the border for ul */
        border: 5px solid purple;
         /* Add padding to push content away from border */
        padding: 10px;
      }