/*   Author Name: Nirmal Patel
     Date:17 June 2024
     Discription: Third HTML Project css file of part 2  */

html {
    font-family: sans-serif;
  }
  
div {

     /* this below given code describe 
     width of box in pixels, margin and height of it */
     width: 200px;
     margin: auto;
     line-height:9

     font-size 1.1rem;

}