/*   Author Name: Nirmal Patel
     Date:18 June 2024
     Discription: Third HTML Project css file of part 3  */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */
/* Font-face is use to show text even when it is not installed on that device */
@font-face {
    font-family: 'CustomFont1';
    src: url('fonts/CustomFont1.woff2') format('woff2'),
         url('fonts/CustomFont1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'CustomFont1';
    src: url('fonts/CustomFont1.woff2') format('woff2'),
         url('fonts/CustomFont1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }